<h2>Add a contact : </h2>

<h3>There are <%= @contact_collection.length %> contacts </h3>

<% @contact_collection.each do |contact| %>
  <li class = "contact"> <%= contact.full_name %> <%= contact.email %> <%= contact.note%> </li>
  <% end %>
