
<h3>There are <%= @contact_collection.length %> contacts </h3>

<% @contact_collection.each do |contact| %>
  <div class = "contact">
  <li> <%= contact.full_name %> (<%= contact.email %>)</li>
  <a href="#">Edit</a> | <a href="#">Delete</a>
  </div>
  <% end %>
