
<h3>There are <%= @contact_collection.length %> contacts </h3>

<% @contact_collection.each do |contact| %>
  <div class = "contact">
  <li> <%= contact.full_name %> (<%= contact.email %>)</li>
  <a href="/contacts/<%= contact.id %>/edit">Edit</a> | <a href="#">Delete</a>
  </div>
  <% end %>
  <label for="Search">Search</label>
  <form action="/index" method="get">
    <input type="search" name="first_name" value="First name">
    <input type="submit" value="Search">
  </form>
