<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles.css">
    <title>CRM</title>
  </head>
  <body>
    <header>
      <h1>Welcome to My CRM</h1>

      <li><a class ="navbar" href="/index">Home</a></li>
      <li><a class ="navbar" href="/contacts">Contacts</a></li>
      <li><a class ="navbar" href="/about">About</a></li>

    </header>

    <%= yield %>

    <footer> Bitmaker 2018 </footer>

  </body>
</html>
