<h2>Add a new contact</h2>

<form action='/contacts' method='post'>
  <input type="text" name="first_name" value="">
  <input type="text" name="last_name" value="">
  <input type="text" name="email" value="">
  <input type="text" name="note" value="">
  <input type="submit" name="" value="New Contact">
</form>
